* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px 50px;
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.column1 {
    flex-basis: 50%;


}

.column2 {
    flex-basis: 35%;


}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}

.image {
    margin-top: 15px;
    height: 750px;
    border-radius: 50px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    font-size: 30px;
    margin-top: 30%;

}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

.btn {
    display: block;
    margin: 50px 0px;

    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}


/* about section */

#about {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;


}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;

}

.video-container {
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.video-container video {
    width: 100%;
    height: 700px;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    border-radius: 50px;
}

p {
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    margin-top: 50px;
    width: 90%;


}


.sub-title {
    margin-top: 50px;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.about-col-2 {
    flex-basis: 60%;
}


.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 20px 0;
    width: 90%;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* services */

#services {
    margin: 50px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}