nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 2.5vw 0vw;  
    display: flex; 
    justify-content: flex-end;     
    font-size: medium;
}

nav a{
    text-decoration: none;
    color: white;
    padding-right: 3.5vw; 
    padding-left: 3.5vw; 
    transition: all 0.3s ease;   
}

nav a.active {
    font-weight: bold;    
}

nav a:hover {
    transform: scale(1.1);  
    transition: all 0.3s ease;
}

nav a.active, nav a:hover{
    background: linear-gradient(to right, #22d3d3, #7CC48C); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    text-fill-color: transparent;
}

