@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}

:root{
    --bg-color: #191f36;
    --snd-bg-color: #262840;
    --text-color: #fff;
    --main-color:#5982f4;
    --font-family: 'Nunito', sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x:hidden;
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: #191f36;
    color: #ffffff;
}
section{
    min-height: 100vh;
    padding: 2rem 0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--bg-color);
    padding: 2rem 9%;
    /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
}
.logo{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-color);
    cursor: default;
}
.navbar a {
   font-size: 1.5rem;
   color: var(--text-color);
   font-weight: 700;
   margin-left: 4rem;
   transition: color 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
   color: var(--main-color);

}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;

}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700; 
}

.home-content{
    margin-left: 5rem;
}

.home-content h3:nth-of-type(2){
    /* font-size: 3.2rem;
    font-weight: 700; 
    color: var(--main-color); */
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home-content p{
    font-size: 1.8rem;
    padding-right: 2rem;
    /* margin: 2rem 0;
    color: var(--text-color); */
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
#linkedin,#github, #facebook{
    color:#5982f4ac;
    font-size:2.5rem;
    transition: .5s ease;
}
#linkedin:hover,#github:hover, #facebook:hover{
    color: whitesmoke;
}

.social-media a:hover{
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    color:whitesmoke;
    border: .2rem solid whitesmoke;
}
.btn{
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.8rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    background:var(--main-color);
    border-radius: 4rem;
    transition: .5s ease;
}
.btn:hover{
  
    box-shadow: 0 0 1rem var(--main-color);
  
}



/* About Section Styles */ 


.about{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}
.about-img img{
    margin-left: 2rem;
    width: 30vw;
    border-radius: 2rem;
   
}
.heading{
    font-size: 4.5rem;
  
    text-align: center;
}
.about-content{
    margin-left: 2rem;
    margin-right: 2rem;
    
    padding-left: 2rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
    
}
.about-content h3{
   font-size: 2.6rem;
}
.about-content p{
   font-size: 1.6rem;
   margin: 2rem 0 3rem;
}


.tabs {
    margin-bottom: 1rem;
  }
  
  .tab-content {
    font-size: 1.6rem;
  }
  
  
  
  .edutabs {
    margin-bottom: 1rem;
  }
  

  .edutab-content {

    font-size: 1.6rem;
  }
  




/* Skills Section Style */

#skills, #interests {
    padding: 50px 0;
    animation: fadeIn 1.5s ease-in-out;
}
.skills h2{
    margin-top: 10rem;
    margin-bottom: 3rem;
}
#skills .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#skills h2 {
    padding-top: 2.5rem;
    font-size: 3.2em;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
}


.skills-container, .interests-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.skill-box, .interest-box {
    background-color:var(--snd-bg-color);
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.skill-box i, .interest-box i {
    font-size: 2em;
    margin-right: 10px;
}

.skill-box:hover, .interest-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 1rem var(--main-color);}

.skill-box span, .interest-box span {
    font-size: 1.1em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive Design: Adjustments for smaller screens */
@media (max-width: 768px) {
    #about h2 {
        font-size: 2.5em;
    }

    #about h3 {
        font-size: 1.8em;
    }

    .skill-box, .interest-box {
        width: 150px;
        padding: 15px;
    }
}


/* project section styles */
.project {
    background: var(--snd-bg-color); 
}
.project h2{
    margin-top: 10rem;
    margin-bottom: 3rem;
}
.project-container{
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project-box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}
.project-box:hover img{
    transform: scale(1.1);
}
.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.project-box:hover .project-layer{
    transform: translateY(0);
}
.project-layer h4{
    font-size: 3rem;
}
.project-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.project-layer a i{
    font-size: 2rem;
    color: var(--snd-bg-color);
}



/* Contact Section Styles */
.contact h2{
    padding-top: 12rem;
    margin-bottom: 3rem;
    /* max-width: 50%; */
    /* text-align: left;
    line-height: 1.2; */
    /* margin-left: 5rem; */
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}

/* .contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
} */
.contact form .btn {
    background: var(--main-color);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: .8rem;
    transition: 0.3s ease;
  }
  
  .contact form .btn:hover {
    background: var(--hover-color);
    transform: scale(1.05);
  }
  
  /* footer Style */
  footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 2rem 9%;
   background: var(--snd-bg-color);
  }
  footer .footer-text p {
    font-size: 1.6rem;
  }

  footer .footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
  }

  footer .footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
  }

  footer .footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color);
  }

  /* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
      font-size: 55%;
    }
  }
  @media (max-width: 991px) {
    .header {
      padding: 2rem 3%;
    }

    section {
      padding: 10rem 3%;
    } 
    .skills {
        padding-bottom: 7rem;    
            }  
    .project {
padding-bottom: 7rem;    
    } 
    .contact {
        min-height: auto;   
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width: 768px) {
    #menu-icon {
      display: block;
    }   
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display:none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
       
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content p{
       order: 2;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;   
}
.about{
    flex-direction: column;
}
.about-img img{
    width: 80vw;
    margin-top: 4rem;
}
.skills h2{
    padding-bottom: 3rem;
}
.project h2{
   margin-bottom: 3rem;
}
.project-container{
    grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 617px) {
    .project-container{
        grid-template-columns: 1fr;
    }
    .home-img img{
        width: 80vw;
        margin-top: 8rem;
    }
    .about-img img{
        width: 100vw;
        margin-top: 4rem;
    }
}
@media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}
