@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #081b29;
    --main-color: #00abf0;
    --text-color: #333;
    --second-text-color: #555;
    --white-color: #fff;
    --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
    --pages-color: linear-gradient(90deg, #fff, #ddd);
    --border: 0.125rem solid #00abf0;
    --box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
  
}

.wrapper {
    position: relative;
    width: 66rem;
    height: 45rem;
    padding: 2rem;
    animation: show-animate 2s forwards;
    perspective: 2500px;
    background: var(--main-color);
}

@keyframes show-animate {
    0%, 30% {
        opacity: 0;
        transform: rotate(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(--box-shadow);
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    transform-origin: right;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 10;
}

.cover.cover-left {
    z-index: -1;
}

.cover.cover-right {
    left: 50%;
    transform-origin: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

/* .cover.cover-right.turn {
    transform: rotateY(180deg);
} */

.book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    perspective: 2500px;
    z-index: 1;
}

.book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 2rem;
    flex-direction: column;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    
}

.page-left {
    left: 0;
    transform-origin: right;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.page-right {
    right: 0;
    transform-origin: left;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    z-index: 2;
}

.page-right.turn {
    transform: rotateY(-180deg);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.page-front, .page-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pages-color);
    padding: 1.5rem 2rem;
    backface-visibility: hidden;
}

.page-back {
  /* position: absolute; */
    transform: rotateY(180deg);
}

.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-page img {
    max-width: 180px;
    border-radius: 50%;
    border: 0.25rem solid var(--main-color);
    margin-bottom: 0.8rem;
}

.profile-page h1 {
    font-size: 1.8rem;
    line-height: 1;
    color: var(--main-color);
}

.profile-page h3 {
    font-size: 1.5rem;
    color: var(--main-color);
}

.profile-page .social-media {
    margin: 0.6rem 0.8rem;
}

.profile-page .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: var(--border);
    border-radius: 50%;
    font-size: 1.3rem;
    color: var(--main-color);
    margin: 0.2rem;
    transition: 0.5s;
}

.profile-page .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.profile-page p {
    text-align: center;
    margin-top: 0.5rem;
}

.btn-box {
    margin-top: 1.2rem;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    height: 3rem;
    background: var(--main-color);
    border: var(--border);
    border-radius: 0.3rem;
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 500;
    margin: 0.1rem;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    background: var(--main-color);
    color: var(--white-color);
}

.title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.number-page {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.nextprev-btn {
    position: absolute;
    bottom: 0.9rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    color: var(--main-color);
    transition: 0.5s;
}

.nextprev-btn:hover {
    color: var(--main-color);
    transform: scale(1.1);
}

.nextprev-btn.back {
    left: 1.5rem;
    right: auto;
}
.workeduc-box{
    border: var(--border);
}
.workeduc-content{
    position: relative;
    padding-left: 1.6rem;
    margin-bottom: 1.2rem;
}
.workeduc-box.workeduc-content::before{
content: '';
position: absolute;
top: 0;
left: -0.65rem;
width: 1.2rem;
height: 1.2rem;
background: var(--main-color);
border-radius: 50%;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.skills-content {
    flex: 1 1 20rem;
}

.skills-content h3 {
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: 0.6rem;
}

.skills-content .content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.skills-content .content span {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 5rem;
    border: var(--border);
    border-radius: 0.3rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.skills-content .content span:hover {
    box-shadow: var(--box-shadow);
}

.skills-content .content span i {
    font-size: 3rem;
    color: var(--main-color);
}

 .portfolio-box .img-box {
    display: flex;
    width: 100%;
    height: 15rem;
    border: var(--border);
    border-radius: 0.5rem;
    overflow: hidden;
}

.portfolio-box .img-box img {
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.portfolio-box .img-box:hover img {
    transform: scale(1.1);
} 

.portfolio-box .info-box .info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.portfolio-box .info-box .info-title h3 {
    font-size: 1.3rem;
}

.portfolio-box .info-box .info-title a {
    display: flex;
    align-items: center;
    color: var(--main-color);
}

.portfolio-box .info-box .info-title a i {
    margin-left: 0.3rem;
}

.portfolio-box .info-box p:nth-of-type(1) {
    font-weight: 600;
}

.portfolio-box .btn-box {
    display: flex;
    justify-content: center;
}

.contact-box .field {
    width: 100%;
    background: transparent;
    border: var(--border);
    border-radius: 0.3rem;
    padding: 0.8rem;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.contact-box .field::placeholder {
    color: var(--text-color);
}

.contact-box textarea {
    resize: none;
    height: 10rem;
}

.back-profile {
    position: absolute;
    bottom: 1.2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: var(--border);
    border-radius: 0.3rem;
    font-size: 1.1rem;
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.back-profile:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.back-profile p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    font-size: 1rem;
    opacity: 0;
    transition: 0.5s;
}

.back-profile:hover p {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    top: -1.8rem;
}

.card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .header {
    background-color:#00abf0;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .body {
    padding: 20px;
  }
  
  .skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .skill-name {
    width: 120px;
    font-size: 16px;
  }
  
  .skill-level {
    width: 160px;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .skill-percent {
    background-color:#00abf0;
    height: 100%;
  }
  
  .skill-percent-number {
    margin-left: 20px;
    font-size: 16px;
  }
  /* From Uiverse.io by catraco */ 
.card1 {
    --card-color: #0080ff;
    --blub-color: #52d4eb;
    position: relative;
    user-select: none;
  }
  
  @keyframes keyframes-rotate-blubs {
    0% {
      transform: translate(10px) rotate(360deg);
    }
  
    50% {
      transform: translate(-5px, 10px) rotate(180deg);
    }
  
    100% {
      transform: translate(10px) rotate(0deg);
    }
  }
  
  .card1 span {
    width: 100px;
    height: 100px;
    position: absolute;
    background: linear-gradient(0deg, transparent, var(--blub-color));
    border-radius: 100%;
    opacity: 0.5;
    animation: keyframes-rotate-blubs 4s infinite linear;
  }
  
  .card1 span:nth-child(1) {
    top: -5%;
    left: -5%;
    width: 60px;
    height: 60px;
    animation-delay: .1s;
    opacity: 0.3;
  }
  
  .card1 span:nth-child(2) {
    top: 60%;
    left: -20%;
    width: 80px;
    height: 80px;
    animation-delay: .2s;
    opacity: 0.3;
  }
  
  .card1 span:nth-child(3) {
    top: 10%;
    left: 60%;
    animation-delay: .3s;
    opacity: 0.6;
  }
  
  .card1 span:nth-child(4) {
    top: 70%;
    left: 50%;
    width: 90px;
    height: 90px;
    animation-delay: .4s;
    opacity: 0.4;
  }
  
  .card1 div {
    backdrop-filter: blur(15px);
    outline: 1px solid var(--card-color);
    color: var(--card-color);
    width: 180px;
    height: 250px;
    border-radius: 5%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card1 div .check {
    fill: var(--card-color);
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
  
  .card1 div strong {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .card1 div p {
    font-size: 0.8rem;
  }
  
  .card1 div hr {
    border: none;
    border-top: 1px solid var(--card-color);
    opacity: .5;
  }
   
.card2 {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 280px;
    max-height: 330px;
    top: 50%;
    left: 50%;
    
    background-color: var(--white-color); 
    border-radius: 10px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
      -4px -4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .card2:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
      -4px -4px 12px rgba(0, 0, 0, 0.08);
  }
  
  .card-image-container {
    width: 100%;
    height: 64%;
    border-radius: 10px;
    margin-bottom: 12px;
    overflow: hidden;
    background-color: rgb(165, 165, 165);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .image-icon {
    font-size: 40px;
  }
  
  .card-title {
    margin: 0;
    font-size: 17px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: var(--main-color);
    cursor: default;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
  .study{
    color:var(--main-color);
  }
  .study p{
    justify-content: center;
    align-items: center;
color:black;
  }@media (max-width: 992px) {
    .cover {
        display: none;
    }
    
    .book {
        flex-direction: column;
        height: auto;
        transform: none !important;
    }
    
    .book-page {
        position: relative !important;
        width: 100% !important;
        height: auto !important;
        min-height: 100vh;
        transform: none !important;
        margin-bottom: 2rem;
        border-radius: 0.6rem !important;
        box-shadow: var(--box-shadow);
    }
    
    .page-left, .page-right {
        left: auto !important;
        right: auto !important;
        transform-origin: center !important;
    }
    
    .page-front, .page-back {
        position: relative !important;
        transform: none !important;
        backface-visibility: visible;
    }
    
    .profile-page img {
        max-width: 150px;
    }
    
    .title {
        font-size: 1.6rem;
    }
    
    .skills-content {
        flex: 1 1 100%;
    }
  }
  
  @media (max-width: 768px) {
    .wrapper {
        padding: 1rem;
    }
    
    .profile-page img {
        max-width: 120px;
    }
    
    .profile-page h1 {
        font-size: 1.5rem;
    }
    
    .profile-page h3 {
        font-size: 1.2rem;
    }
    
    .btn {
        min-width: 8rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }
    
    .skills-content .content span {
        width: 5rem;
        height: 4rem;
    }
    
    .skills-content .content span i {
        font-size: 2rem;
    }
    
    .portfolio-box .img-box {
        height: 12rem;
    }
    
    .card, .card1, .card2 {
        width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .profile-page .social-media a {
        width: 2rem;
        height: 2rem;
        font-size: 1.1rem;
    }
    
    .skills-content .content span {
        width: 4.5rem;
        font-size: 0.8rem;
    }
    
    .portfolio-box .btn-box {
        flex-direction: column;
        align-items: center;
    }
    
    .portfolio-box .btn {
        width: 100%;
        max-width: 200px;
        margin-bottom: 0.5rem;
    }
    
    .skill {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .skill-level {
        width: 100%;
        margin-left: 0;
        margin-top: 0.5rem;
    }
    
    .skill-percent-number {
        margin-left: 0;
        margin-top: 0.5rem;
    }
  }
  
  @media (max-width: 400px) {
    .profile-page img {
        max-width: 100px;
    }
    
    .portfolio-box .img-box {
        height: 10rem;
    }
    
    .card1 div {
        width: 100%;
        height: auto;
        min-height: 200px;
    }
    
    .nextprev-btn {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.8rem;
    }
  }  
  
  
  @media (max-width: 992px) {
    
    .book {
        display: block;
        overflow-y: auto;
        height: 100vh;
        transform: none !important;
    }
    
    .book-page {
        display: block !important;
        opacity: 1 !important;
        position: relative;
        transform: none !important;
        margin-bottom: 2rem;
        height: auto;
        min-height: 100vh;
    }
    
    .page-front, .page-back {
        position: relative;
        transform: none !important;
        height: auto;
    }
    
    .page-back {
        display: block !important;
        margin-top: 2rem;
    }
    
    .nextprev-btn {
        position: fixed;
        bottom: 20px;
        background: var(--main-color);
        color: white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    }
    
    .nextprev-btn.back {
        left: 20px;
    }
    
    .nextprev-btn:not(.back) {
        right: 20px;
    }
    
    
    .back-profile {
        position: fixed;
        bottom: 80px;
        right: 20px;
        z-index: 100;
    }
  }
  
  @media (max-width: 576px) {
    
    .nextprev-btn {
        width: 40px;
        height: 40px;
        bottom: 15px;
    }
    
    .back-profile {
        bottom: 70px;
        right: 15px;
    }
    
    .book-page {
        padding: 1rem;
    }
    
    .profile-page img {
        max-width: 120px;
    }
  }

  .card-des {
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    margin: 0;
    font-size: 13px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: var(--main-color);
    cursor:default;
    }
