#projects {
   
    background-color: #ffffff;
}
#projects h2{
    margin-left: 40px;
    margin-top: 50px;
    text-align: left;
    color: black;
    font-size: 2.8em;
}
.project-container1 {  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    background-image: url(../images/blueBg.jpg);  
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat;  
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 3);  
    width: 93%; 
    height: 400px; 
    margin-left: 35px; 
    margin-bottom: 30px;
}  
.project-container2 {  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    background-image: url(../images/pinkBg.jpg);  
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 3);  
    width: 93%; 
    height: 400px; 
    margin-left: 35px; 
    margin-bottom: 30px;
}  
.project-container3 {  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    background-image: url(../images/pupleBg.png);  
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;  
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 3);  
    width: 93%;
    height: 400px; 
    margin-left: 35px; 
    margin-bottom: 30px;
}  
.project-card {
    max-width: 90%;
    margin-top: 5px;
    
}

.project-card h3{
    margin-bottom: 10px;
    margin-top: 15px;
    color: black;
    text-align:left;
    margin-left: 30px;
    font-size: 1.8em;
}
.project-card h4 ,.project-card p{
    margin-bottom: 10px;
    color: black;
    text-align: left;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 40px;
}
.project-details {
    background: rgb(255, 255, 255);
 font-size: 0.8em;
    border-radius: 5px;
    padding: 10px;
    color: black;
    text-align: left;
}
 .contribution-details {
    background: rgb(255, 255, 255);
    font-size: 0.8em;
    padding: 15px;
    border-radius: 5px;
    color: black;
    text-align: left;
}

.project-image img {
    width: 300px;
   margin-right: 120px;
    height: auto;
    border-radius: 5px;

    margin-top: 80px;
    opacity: 0;
 

}
.github-link {
    cursor: pointer;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    align-items: flex-start;
}

@keyframes fadeIn {  
    from {  
        opacity: 0;  
        transform: translateY(20px);  
    }  
    to {  
        opacity: 1;  
        transform: translateY(0); 
    }  
}  

.project-container1,  
.project-container2,  
.project-container3 {  
    opacity: 0;  
    transform: translateY(20px);  
    animation: fadeIn 0.8s forwards; 
    animation-delay: 0s;
}  

.project-container1:hover,  
.project-container2:hover,  
.project-container3:hover {  
    transform: scale(1.05);   
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);  
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}  
 
.project-image img {  
    transition: opacity 0.3s; 
}  

.project-container1:hover .project-image img,  
.project-container2:hover .project-image img,  
.project-container3:hover .project-image img {  
    opacity: 1; 
}