@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --first-color: #0e2431;
    --second-color: #6a59d1;
    --third-color: #777;

    --hover-color: #614fd0;

    --body-bg-color: #fefefe;
    --card-bg-color: #fff;
    --model-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-01: rgba(0, 0, 0, 0.1);
    --transparent-color-02: rgba(106, 89, 209, 0.1);
    --line-color: #d7d7d7;

    --color-filter: invert(1);

    --box-shadow: 0 0 20px rgb(0 0 0 / 10%);

    --small-font-size: 0.9rem;
    --normal-font-size: 1rem;

    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-bg-color);
    color: var(--first-color);
    margin: 2rem 0 0 0;
    transition: .5s ease;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.flex-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* navigation bar */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}

.nav-bar{
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    transition: .6s ease;
}

.nav-bar .logo{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--first-color);
}

.nav-items a{
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.nav-items a:not(:last-child){
    margin-right: 50px;
}

.nav-items a:hover{
    color: var(--second-color);
}

/*home section*/
.home{
    position: relative;
    max-height: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 4rem;
    flex-direction: column;
}

.home .home-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.home-container .media-icons{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.home-container .media-icons a{
    color: var(--second-color);
    font-size: 1.5em;
    margin: 10px 0;
}

.home-container .media-icons a:hover{
    color: var(--hover-color);
}

.home-container .info h2{
    font-size: 4rem;
    font-weight: 600;
    line-height: 70px;
}

.home-container .info h3{
    color: var(--third-color);
    font-feature-settings: 1.3rem;
    font-weight: 600;
    line-height: 50px;
}

.home-container .info p{
    color: var(--third-color);
    font-size: var(--normal-font-size);
    max-width: 500px;
}

.btn{
    display: inline-block;
    padding: 20px 30px;
    font-size:  var(--normal-font-size);
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
    background: var(--second-color);
    margin-top: 25px;
    letter-spacing: 1px;
}

.btn:hover{
    background: var(--hover-color);
}

.home-container .home-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.home-container .home-img img{
    width: 90%;
    transform: translate(0, 0);
}

.home .scroll-down{
    font-size: var(--normal-font-size);
    color: var(--first-color);
    font-weight: 500;
    margin-top: 20px;
}

.home .scroll-down i{
    color: var(--second-color);
    font-size: 1.2em;
    animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down{
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(10px);
    }
}

/*about section */
.section{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}

.sub-section{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.section-title-01{
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
}

.section-title-02{
    font-size: 2.5rem;
    font-weight: 700;
    transform: translateY(-80px);
}

.section-title-02::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: var(--second-color);
}

.container{
    position: relative;
    flex-direction: column;
}

.about .container .content{
    column-gap: 40px;
    width: 100%;
}

.about-img img{
    max-width: 100%;
    min-width: 500px;
    border-radius: 10px;
}

.about-info .description{
    max-width: 600px;
}

.about-info .description h3{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .description h4{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .description h4 span{
    color: var(--second-color);
}

.about-info .description p{
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--line-color);
}

.about-info .professional-list{
    display: flex;
    column-gap: 30px;
}

.about-info .professional-list .list-item h3{
    font-size: 2.5rem;
    font-weight: 700;
}

.about-info .professional-list .list-item h3 span{
    color: var(--third-color);
    font-size: var(--small-font-size);
}